html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-columnHeaders {
  background-color: rgba(91, 108, 255, 0.04);
}
